
/* CSS general del proyecto */
:root{
    /* Paleta de colores*/
    --blanco: #FFFFFF;
    --negro: #000000;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}

html{
    font-size: 62.5%;    /* 1rem == 10px*/
}
body{
    font-size: 16px;
    font-family: "Krub", serif;
}

.contenedor{
    width: 120rem;
    margin: 0 auto;
}
/*--------------------------------------------*/

/* CSS al header*/
.header{
    text-align: center;
    font-size: 3.8rem;
}

.header span{
    font-size: 2rem;
}
/*--------------------------------------------*/

/* CSS a la barra de navegación principal*/
.nav_bg{
    background-color: var(--secundario);
}
.navegacion_principal{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.navegacion_principal a{
    text-decoration: none;
    color: var(--blanco);
}

/*--------------------------------------------*/